<!DOCTYPE html>
<html>
<head>
    <title>Login | Spotify</title>
    <link rel="stylesheet" href="css/invalidlogin.css">
</head>
<body>
    <div class="container">
        <div class="login-form">
            <img src="images/Logo Blue.png" alt="Spotify Logo" class="logo">
            <h1 class="heading">Log in to Anymusic</h1>
            <form action="/login" method="post">
                <input type="email" id="email" name="email" class="input-field" placeholder="Email address" required>
                <input type="password" id="password" name="password" class="input-field" placeholder="Password" required>
                <button type="submit" class="login-button">Log In</button>
            </form>
            <p class="signup-link">Don't have an account? <a href="signup">Sign up</a></p>
        </div>
    </div>
</body>
</html>
