<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spotify</title>
  <link rel="stylesheet" href="css/libsong.css">
  
</head>

<body>

</body>

</html>

<body>

  <div class="sidebar">
    <div class="logo">
      <a href="#">
        <img src="images/Logo Blue.png" alt="Logo" />
      </a>
    </div>

    <div class="navigation">
      <ul>
        <li>
          <a href="/">
            <span class="fa fa-home"></span>
            <span>Home</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="fa fa-search"></span>
            <span>Search</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="fa fas fa-book"></span>
            <span>Your Library</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="navigation">
      <ul>
        <li>
          <a href="#">
            <span class="fa fas fa-plus-square"></span>
            <span>Create Playlist</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="fa fas fa-heart"></span>
            <span>Liked Songs</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="policies">
      <ul>
        <li>
          <a href="#">Cookies</a>
        </li>
        <li>
          <a href="#">Privacy</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-container">
    <div class="topbar">
      <div class="prev-next-buttons">
        <button type="button" class="fa fas fa-chevron-left"></button>
        <button type="button" class="fa fas fa-chevron-right"></button>
      </div>

      <div class="navbar">
        <ul>
          <li>
            <a href="#">Premium</a>
          </li>
          <li>
            <a href="#">Support</a>
          </li>
          <li>
            <a href="#">Download</a>
          </li>
          <li class="divider">|</li>
          <li>
            <a href="#">Sign Up</a>
          </li>
        </ul>
        <button type="button">Log In</button>
      </div>
    </div>

    <div class="spotify-playlists">
      <h2>Top Hits</h2>

      <div class="list">
        <div class="item">
          <img src="https://c.saavncdn.com/168/Dil-Kehta-Hai-Hindi-2023-20230412021454-500x500.jpg" />
          <div class="play">
            <a href="/song" class="fa fa-play"></a>
          </div>
          <h4>Dil Kehta Hai</h4>
          <p>Javed Ali, Palak Muchhal </p>
        </div>

        <div class="item">
          <img src="https://c.saavncdn.com/100/Mai-Tumse-Milne-Aaunga-Hindi-2023-20230421085908-500x500.jpg" />
          <div class="play">
            <a href="/song" class="fa fa-play"></a>
          </div>
          <h4>Mai Tumse Milne Aaunga</h4>
          <p>Saaj Bhatt, Aishwarya Pandit </p>
        </div>

        <div class="item">
          <img src="https://c.saavncdn.com/815/Bhediya-Hindi-2022-20221206124543-500x500.jpg" />
          <div class="play">
            <a href="/song" class="fa fa-play"></a>
          </div>
          <h4>Apna Bana Le</h4>
          <p>Arijit Singh, Sachin-Jigar</p>
        </div>
        <div class="item">
          <img src="https://c.saavncdn.com/734/Champagne-Talk-Hindi-2022-20221008011951-500x500.jpg" />
          <div class="play">
            <a href="/song" class="fa fa-play"></a>
          </div>
          <h4>Maan Meri Jaan</h4>
          <p>Champagne Talk  by King</p>
        </div>
        <div class="item">
          <img src="https://c.saavncdn.com/807/Pathaan-Hindi-2022-20221222104158-500x500.jpg" />
          <div class="play">
            <a href="/song" class="fa fa-play"></a>
          </div>
          <h4>Jhoome Jo Pathaan</h4>
          <p>Vishal & Shekhar, Arijit Singh, Sukriti Kakar, Vishal Dadlani, Shekhar Ravjiani, Kumaar</p>
        </div>
      </div>
    </div>

    <div class="spotify-playlists">
      <h2>English Songs</h2>

      <div class="list">
        <div class="item">
          <a href="../html/songs.html">
            <img src="https://c.saavncdn.com/173/Dreamland-English-2020-20200806000748-500x500.jpg" />
            <div class="play">
              <a href="/song" class="fa fa-play"></a>
            </div>
          </a>
          <h4>Heat Waves</h4>
          <p>Glass Animals</p>
        </div>

        <div class="item">
          <img src="https://c.saavncdn.com/126/Shape-of-You-English-2017-500x500.jpg" />
          <div class="play">
            <a href="/song" class="fa fa-play"></a>
          </div>
          <h4>Shape Of You</h4>
          <p>Ed Sheeran</p>
        </div>

        <div class="item">
          <img src="https://c.saavncdn.com/014/Ignite-English-2018-20180615143214-500x500.jpg" />
          <div class="play">
            <a href="/song" class="fa fa-play"></a>
          </div>
          <h4>Ignite</h4>
          <p>Alan Walker, Julie Bergan, K-391</p>
        </div>
        <div class="item">
          <img src="https://c.saavncdn.com/248/Evolve-English-2017-20180716230950-500x500.jpg" />
          <div class="play">
            <span class="fa fa-play"></span>
          </div>
          <h4>Believer</h4>
          <p>Imagine Dragons</p>
        </div>
        <div class="item">
          <img src="https://c.saavncdn.com/725/Unholy-English-2022-20220922233621-500x500.jpg" />
          <div class="play">
            <a href="/song" class="fa fa-play"></a>
          </div>
          <h4>Unholy</h4>
          <p>Sam Smith, Kim Petras</p>
        </div>
      </div>
    </div>

    <div class="spotify-playlists">
      <h2>Other Languages</h2>
      <div class="list">
        <div class="item">
          <img src="https://c.saavncdn.com/000/Vaathi-Tamil-2022-20230204165407-500x500.jpg" />
          <div class="play">
            <a href="/song" class="fa fa-play"></a>
          </div>
          <h4>Vaa Vaathi</h4>
          <p>G.V. Prakash Kumar, Shweta Mohan</p>
        </div>

        <div class="item">
          <img src="https://c.saavncdn.com/794/Ennai-Vittu-From-Love-Today-Tamil-2022-20220812153729-500x500.jpg" />
          <div class="play">
            <a href="/song" class="fa fa-play"></a>
          </div>
          <h4>Ennai Vittu</h4>
          <p>Yuvan Shankar Raja, Sid Sriram </p>
        </div>

        <div class="item">
          <img src="https://c.saavncdn.com/435/Don-Tamil-2022-20220512162818-500x500.jpg" />
          <div class="play">
            <a href="/song" class="fa fa-play"></a>
          </div>
          <h4>Bae</h4>
          <p>Anirudh Ravichander, Adithya RK ft. Anirudh Ravichander & Adithya RK</p>
        </div>

        <div class="item">
          <img src="https://c.saavncdn.com/104/Why-This-Kolaveri-Di--Tamil-2011-20200428140754-500x500.jpg" />
          <div class="play">
            <a href="/song" class="fa fa-play"></a>
          </div>
          <h4>
            Why This Kolaveri Di? (The Soup of Love)</h4>
          <p>Anirudh Ravichander, Dhanush</p>
        </div>

        <div class="item">
          <img src="https://c.saavncdn.com/973/Vikram-Tamil-2022-20220515182605-500x500.jpg" />
          <div class="play">
            <a href="/song" class="fa fa-play"></a>
s          </div>
          <h4>Porkanda Singam</h4>
          <p>Anirudh Ravichander, Ravi G</p>
        </div>
      </div>

      <hr>
    </div>

    <div class="preview">
      <div class="text">
        <h6>Preview of Anymusic</h6>
        <p>Sign up to get unlimited songs and podcasts with occasional ads. No credit card needed.</p>
      </div>
      <div class="button">
        <button onclick="location.href='signup'" type ="button">Sign up free</button>
      </div>
    </div>
  </div>

  <script src="https://kit.fontawesome.com/35f2d8091a.js" crossorigin="anonymous"></script>
</body>