<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Songs</title>
  <link rel="stylesheet" href="css/libsong.css">
   
</head>

<body>
  <div class="sidebar">

    <div class="logo">
      <a href="#">
        <img src="../Logo Blue.png" alt="Logo" />
      </a>
    </div>

    <div class="navigation">
      <ul>
        <li>
          <a href="./home.html">
            <span class="fa fa-home"></span>
            <span>Home</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="fa fa-search"></span>
            <span>Search</span>
          </a>
        </li>

        <li>
          <a href="../html/index.html">
            <span class="fa fas fa-book"></span>
            <span>Your Library</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="navigation">
      <ul>
        <li>
          <a href="#">
            <span class="fa fas fa-plus-square"></span>
            <span>Create Playlist</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="fa fas fa-heart"></span>
            <span>Liked Songs</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="policies">
      <ul>
        <li>
          <a href="#">Cookies</a>
        </li>
        <li>
          <a href="#">Privacy</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="topbar">
    <div class="prev-next-buttons">
      <button type="button" class="fa-regular fa-circle-chevron-left"></button>
      <button type="button" class="fa fas fa-chevron-right"></button>
    </div>

    <div class="navbar">
      <ul>
        <li>
          <a href="#">Premium</a>
        </li>
        <li>
          <a href="#">Support</a>
        </li>
        <li>
          <a href="#">Download</a>
        </li>
        <li class="divider">|</li>
        <li>
          <a href="#">Sign Up</a>
        </li>
      </ul>
      <button type="button">Log In</button>
    </div>
  </div>

  <div class="main-container">
    <div class="container">
      <div class="song-details">
        <img class="song-logo prev-next-buttons"
          src="https://i.scdn.co/image/ab67616d0000b2733b5e11ca1b063583df9492db" />
        <div class="navbar">
          <ul>
            <li>
              <h1 class="song-name">Song Name</h1>
            </li>
          </ul>
          <ul>
            <li>
              <h2 class="song-name">Artist</h2>
            </li>
          </ul>
        </div>


      </div>
      <div class="video">
        <video id="videoPlayer" width="800" controls autoplay>
          <source src="../Valorant 2023.04.20 - 20.01.15.02.DVR.mp4" type="video/mp4" />
        </video>
      </div>

    </div>
  </div>
</body>

</html>
<script src="https://kit.fontawesome.com/35f2d8091a.js" crossorigin="anonymous"></script>